<h2 id="description">Description</h2>
{{#if presskit.description}}
    <p>{{rawText presskit.description}}</p>
{{/if}}

{{#if presskit.history}}
<h2 id="history">History</h2>
<p>
    {{ rawText presskit.history }}
</p>
{{/if}}

{{#each presskit.histories}}
{{#if header}}
    <h3>{{header}}</h3>
{{/if}}

{{#if text}}
<p>{{rawText text}}</p>
{{#each text}}
    <p>{{rawText this}}</p>
{{/each}}
{{/if}}

{{#if list}}
<ul>
    {{#each list.item}}
    <li>{{rawText this}}</li>
    {{/each}}
</ul>
{{/if}}
{{#if numlist}}
<ul>
    {{#each numlist.item}}
    <li>{{rawText this}}</li>
    {{/each}}
</ul>
{{/if}}
{{/each}}
